* {
    box-sizing: border-box;
  }

body {
      background-image: url("../images/background.jpg");
      padding: 1%;
  }

  h1 {
    font-family: 'Kanit', sans-serif;
    color: magenta;
    font-size: 48px;
  }

  .main-box {
      background: yellow;
      border: 2px solid black;
      text-align: center;
      padding: 5% 27% 10% 28%;
      text-align: center;
  }

  #answers {
      margin-top: 5%;
  }

  #answer-item {
      background: pink;
      border: 2px solid purple;
      color: black;
      padding: 5%;
      margin: 2% 0 2% 0;
      border-radius: 4px;
  }

  #answer-item:hover {
    background: purple;
    border: 2px solid white;
    color: white;

  }
