* {
    box-sizing: border-box;
  }

body {
      background-image: url("../images/background.jpg");
      padding: 1%;
  }

  h1 {
    font-family: 'Kanit', sans-serif;
    color: magenta;
    font-size: 48px;
    padding: 0%;
  }
  .col-8-lg {
      width: 100%;
  }
  .main-box {
      background: yellow;
      border: 2px solid black;
      text-align: center;
      padding: 5% 5% 10% 5%;
      text-align: center;
  }

  #answers {
      margin-top: 5%;
  }

  #button-style {
      background: pink;
      border: 2px solid purple;
      color: black;
      padding: 2%;
      margin: 2% 15% 2% 15%;
      border-radius: 4px;
  }

  #button-style:hover {
    background: purple;
    border: 2px solid white;
    color: white;

  }
